<h5 class="mb-3">Featured <span class="text-muted">Five</span></h5>
{%- for post in site.categories.featured -%}
<div class="media mb-3">
  {%- if post.image == ""-%}
  <div class="rounded img-placeholder img-placeholder--varian-3 mr-3" 
       style="background-image: url('https://source.unsplash.com/{{ post.image }}');">
  </div>
  {%- else -%}
  <div class="rounded img-placeholder img-placeholder--varian-3 mr-3"
       style="background-color: {{ post.color }};">
  </div>
  {%- endif -%}
  <div class="media-body align-self-stretch d-flex flex-column justify-content-between">
    <h6 class="mt-0">
      <a class="text-dark" href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h6>
    <div class="d-flex justify-content-between">
      <small class="badge badge-danger text-uppercase">
        {{ post.tags[0] }}
      </small>
      <small class="small text-muted mb-0">
        {{ post.date | date: "%d %b, %Y" }}
      </small>
    </div>
  </div>
</div>
{%- endfor -%}